{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
    <div id="layout-wrapper">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">{{business.name}} Categories>> {{company.name}} >> Documents</h4>
                        </div>
                    </div>
                </div> 
                <div class="row justify-content-center">
                  
                       <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                              <!-- Add section to create documents -->
                              <form method="post" enctype="multipart/form-data" id="document-upload-form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Upload Documents">
                              </form>
                              
                              <script>
                                // Add JavaScript code here to enhance file input for multiple selections
                                const fileInput = document.querySelector('#id_file'); // Replace 'id_file' with the actual field ID
                                fileInput.setAttribute('multiple', 'multiple');
                              </script>
                              


                            </div>
                        </div>
                       </div>
                       <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="table-responsive">
                                    <table class="table table-centered table-hover table-xl mb-0" id="recent-orders">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">File</th>
                                                <th class="border-top-0">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for doc in documents %}
                                            <tr>
                                                <td class="text-truncate">
                                                    {% if doc.file.name %}
                                                        {{ doc.file.name|filename }}
                                                    {% else %}
                                                        {{ doc|filename_from_path }}
                                                    {% endif %}
                                                </td>
                                                <td class="text-truncate">
                                                    <a href="{% url 'main:delete_document' doc.id %}" class="text-danger" onclick="return confirm('Are you sure you want to delete this document?')">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="2" class="text-center">No Documents available for this company category</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    
                                    
                                    </table>
                            </div>

                        </div>
                      
                       </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
