{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
    <div id="layout-wrapper">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">{{business.name}} Categories>> {{company.name}} >> Documents</h4>
                        </div>
                    </div>
                </div> 
                <div class="row justify-content-center">
                  
                       <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                              <!-- Add section to create documents -->
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="{{ file.id }}">Upload Document:</label>
                                        {{form.company}}
                                        {{ form.file }}
                                        <!-- Display errors for the 'file' field -->
                                        {% if form.file.errors %}
                                            <ul class="errorlist">
                                                {% for error in file.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                    <button type="submit" class="btn btn-primary">Upload Document</button>
                                </form>


                            </div>
                        </div>
                       </div>
                       <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="table-responsive">
                                    <table class="table table-centered table-hover table-xl mb-0" id="recent-orders">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">File</th>
                                                <th class="border-top-0">Edit</th>
                                                <th class="border-top-0">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for docs in documents %}
                                            <tr>
                                                <td class="text-truncate">
                                                    {{ docs.file.name|filename }}
                                                </td>
                                                
                                                <td class="text-truncate">
                                                    <a href=""><i class="fas fa-edit"></i></a>
                                                </td>
                                                <td class="text-truncate">
                                                    <a href=""><i class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="3" class="text-center">No Documents available for this company category</td>
                                            </tr>
                                        {% endfor %}
                                        
                                        </tbody>
                                    </table>
                                    
                                    </table>
                            </div>

                        </div>
                      
                       </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
